{
admin off
}
http://rurik/packy/* {
reverse_proxy unix//run/fcgiwrap.sock {
	transport fastcgi {
		env SCRIPT_FILENAME /usr/lib/cgit/cgit.cgi
	}
}

handle_path /assets/* {
	root * /usr/share/webapps/cgit
	file_server
}
}